body {
  text-align: center;
}

h1 {
  font-size: 36px;
  margin: 0 auto 20px;
}

table {
  margin: auto;
}

td {
  width: 100px;
  height: 100px;
}

td:nth-child(2) {
  border-left: 3px solid black;
  border-right: 3px solid black;
}

tr:nth-child(2) td {
  border-top: 3px solid black;
  border-bottom: 3px solid black;
}