<%- include("partials/header") %>

<h1>You fell in love with: <%= thing %></h1>

<% if (thing.toLowerCase() === "rusty") { %>
  <p>Good choice, rusty is the best!</p>
<% } else { %>
  <p>Bad choice, you should have said Rusty!</p>
<% } %>

<%- include("partials/footer") %>